go 1.18

use (
	.
	./application
	./clients/httplib
	./clients/xgorm
	./clients/xkafka
	./clients/xmemcache
	./clients/xredis
	./clients/xsentinel
	./clients/xzk
	./clients/xxxljob
	./config
	./microservices
	./microservices/contrib/circuitbreaker/gobreaker
	./microservices/contrib/sd/etcd
	./observability
	./observability/contrib/xotel
	./observability/contrib/xprometheus
	./servers/xgin
	./servers/xtcp
	./xlog
	./xlog/contrib/xzap
)
